header {
    display: flex;
    justify-content: center;
}

header img {
    width: 400px;
    height: auto;
}

body {
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}

main h2 {
    background-color: #154734;
    color: white;
    font-size: 30px;
    text-align: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.gallery-container img {
    max-width: 100%;
    height: auto;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-overlay.active {
    display: flex;
}

.modal-overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .card-footer {
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.card-footer:hover {
    transform: translateY(-10px);
}

.card-footer h2 {
    text-align: center;
}

.card-footer p {
    margin-top: 10px;
    padding: 0 20px;
    text-align: justify;
    font-size: 14px;
    line-height: 1.2;
}

.card-footer-img {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.card-footer-img img {
    width: 200px;
    height: auto;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    border-radius: 5px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .card-footer {
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.card-footer:hover {
    transform: translateY(-10px);
}

.card-footer h2 {
    text-align: center;
}

.card-footer p {
    margin-top: 10px;
    padding: 0 20px;
    text-align: justify;
    font-size: 14px;
    line-height: 1.2;
}

.card-footer-img {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.card-footer-img img {
    width: 200px;
    height: auto;
}

.card-footer p,
h4 {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}